.card.large-padding
	.grey-text.bold
		Carrito de compras Numero :
		=@shopping_cart.id
	.col-md-11.no-float.text-center
		=link_to products_path,class:"btn btn-warning" do
			Elige tus productos
	%table.table.table-striped.table-hover.medium#table_shopping_cart
		%thead
			%td Producto
			%td Costo
			%td Acciones
		%tbody
			-@shopping_cart.in_shopping_carts.each do |i_sh|
				-product =i_sh.product
				%tr{id: "#{product.id}"}
					%td= product.name
					%td= product.pricing
					%td.bold= link_to "Eliminar",i_sh,method: :delete
	
	.top-space.large-padding.text-right.col-md-9.right-space#payment_form
		%p
		
		%strong.bold.big
			Total: $ 
			=@shopping_cart.total
		-if user_signed_in?
			=link_to "/ok",class:"btn btn-success" do
				Cotizar
		.col-md-11.no-float
			-if !user_signed_in?
				Inicia sesion para poder hacer la cotización
				.col-md-11.no-float
				=link_to new_user_session_path,class:"btn btn-success" do
					Iniciar Sesion




