%header
	%nav.green
		%ul.no-list.no-padding.text-center
			%li.col-md-5.inline-block.tall-padding.white-text
				=link_to products_path, class:"right-space white-text" do
					%i.mdi-action-trending-up 
					Ver productos
				=link_to nosotros_path, class:"right-space white-text" do
					%i.mdi-action-visibility
					Nosotros
				
				-if  !user_signed_in?
					=link_to new_user_session_path,class:"btn btn-info" do
						Iniciar Sesion
				-if current_user.try(:admin? )
					=link_to "/welcome/index", class:"right-space white-text" do
						%i.mdi-action-account-box
						Usuarios

				-if user_signed_in?
					=link_to edit_user_registration_path,class:"right-space white-text" do
						%i.mdi-action-account-circle
						Perfil

				-if user_signed_in?
					=link_to "Cerrar sesion", destroy_user_session_path,method: :delete,class:"right-space white-text"
						

			%li.col-md-3.inline-block.text-center.tall-padding
				=image_tag "tiendus.png", height:"25px"
			%li.col-md-4.inline-block.tall-padding
				=link_to carrito_path ,class:"white-text" do
					%i.mdi-action-add-shopping-cart
					carrito (
					= @shopping_cart.products.count
					)
				