%header
	%nav.green
		%ul.no-list.no-padding.text-center
			%li.col-md-4.inline-block.tall-padding
				=link_to root_path,class:"right-space white-text" do
					%i.mdi-action-shopping-basket
						Tienda
			%li.col-md.inline-block.text-center
				=image_tag "tiendus.png",height:"25px"
			%li.col-md-4.inline-block