<!-- <h1>que tal viajero</h1> -->
<!-- <% [1,2,3,4].each do |number| %> -->
<!-- <p>numero : <%=number %></p> -->
<!-- <%end%> -->

<!--
<%= link_to "  ir a welcome", "/welcome/index", method: :post%>
<p></p>
<%= link_to "  ir a productos", "/productos", method: :get%>
<p></p>
<%= link_to "  ir a categorias", "/categoria", method: :get%>
<p></p>
<%= link_to "  ir a carrito", "/carrito", method: :get%> -->

%header.blue.big-padding
	.col-md-10.no-float.center-block
		%h1.white-text.ultra-big.kostic
			%strong
				Comercial Brenda Cuellar
			.col-md-0.no-padding.inline-block
		.col-md-5.inline-block
			=image_tag "mono.png",width:"200"
		.col-md-5.no-padding.inline-block.white-text.text-center.casi-big
			%strong
				Telefono: 2-2 5637585
			%strong
				Email:
				brendacuellara@hotmail.com
			%strong
				Direccion: Cardenal Caro 4331, PAC, Santiago
%header
	%nav.green
		%ul.no-list.no-padding.text-center
			%li.col-md-4.inline-block.tall-padding
				=link_to root_path,class:"right-space white-text" do
					%i.mdi-action-shopping-basket
						Tienda
			%li.col-md.inline-block.text-center.tall-padding
				=image_tag "tiendus.png",height:"25px"
			%li.col-md-4.inline-block.tall-padding
				=link_to carrito_path,class:"white-text" do
					Mi Carrito

%h1 hola mundo

 

%h1 Bienvenido

%p
	=link_to "Cerrar sesión", destroy_user_session_path, method: :delete