-if current_user.try(:admin? )
	%article.big-padding
		%h1.text-center 
			Lista de Usuarios
		%section.inline-block.col-md-12.row
			%table.table.table-striped.table-hover.col-md-8.no-float
				%thead
					%tr
						%th Id
						%th Email
						%th Ultima Conexion
						%th Creado en
						%th admin

				%tbody
					- @users.each do |user|
						%tr
							%td= user.id
							%td= user.email
							%td= user.last_sign_in_at
							%td= user.created_at
							%td=user.admin
-else
	%h3.demencial
		Error kappa 8
	=image_tag "ranapepe.jpg", width:"420"