%div.text-center
	.col-md-9.no-float.center-block 
		%h1.black-text.Kostic.big.bold
			Nosotros
		%h1.black-text.Kostic.normal
			Somos una empresa dedicada a la venta de todo tipo de repuestos y accesorios automotrices con sede en Santiago.
		%h1.black-text.Kostic.big.bold
			¿Como Comprar?
		.Kostic.big.bold
			=link_to nosotros_path,class:"btn btn-raised btn-success" do
				Paso 1
		%h1.black-text.Kostic.normal.bold
			Elige tus productos.
		.Kostic.big.bold
			=link_to nosotros_path,class:"btn btn-raised btn-success" do
				Paso 2
		%h1.black-text.Kostic.normal.bold
			Elige el metodo de entrega:
		%h1.black-text.Kostic.normal
			1) REPARTIDOR DE LA EMPRESA: Contamos con un repartidor que te entrega el producto en la dirección que nos indicas en el correo.  Tu pedido se envía después de la confirmación del pago (depósito bancario o transferencia electrónica). Si recibimos el pago antes de las 12hrs de un día hábil, realizaremos el despacho el mismo día. De lo contrario, será despachado al día hábil siguiente.
		%h1.black-text.Kostic.normal
			2) ENTREGA EN ESTACIÓN METRO: Puedes retirar tu pedido directamente en estación de metro (Republica,Ula,Departamental,San Miguel, El llano). Los horarios de entrega son de Lunes a Viernes desde las 12:00hrs hasta las 19:00hrs.
		%h1.black-text.Kostic.normal
			3) ENVÍO POR EMPRESA DE TRANSPORTE: Entrega por Turbus/Chilexpress, tu pedido se envía después de la confirmación del pago (depósito bancario o transferencia electrónica). Si recibimos el pago antes de las 12hrs de un día hábil, realizaremos el envío el mismo día. De lo contrario, será despachado al día hábil siguiente.
		.Kostic.big.bold
			=link_to nosotros_path,class:"btn btn-raised btn-success" do
				Paso 3
		%h1.black-text.Kostic.normal.bold
			Contactanos al correo local.cbc@gmail.com
		%h1.black-text.Kostic.normal
			Envíanos un correo con tus datos(Nombre,Dirección,Telefono),requerimientos y forma de entrega. Nosotros te responderemos a la brevedad.
		%h1.black-text.Kostic.normal
			Las formas de pago son en efectivo o por transferencia.
		%h1.black-text.Kostic.normal
			Ante cualquier duda o consulta que tengas al respecto envíanos un correo.

