%header.green.big-padding
	.col-md-10.no-float.center-block 

	.col-md-6.no-padding.inline-block 
		=image_tag "tiendus.png", width:"100"
		%h1.white-text
			%strong 
				ofrece tus productos digitales a tu adudencia

	.col-md-5.inline-block	
		=image_tag "mono.png", width:"300"













%p ingresa sesion papa

%p
	= link_to "  iniciar sesion", new_user_session_path

%p
	= link_to "  Crear cuenta", new_user_registration_path