%header.green
	%div.text-center
		.col-md-12.no-padding.inline-block 
			=image_tag "logoleo.png", width:"300"

%header.light-blue.large-padding
	%div.text-center
		.col-md-9.no-float.center-block 
			%h1.white-text.Kostic.big.bold
				Por favor Inicia sesion para poder comprar
			.Kostic.big.bold
				=link_to new_user_session_path,class:"btn btn-primary" do
					Iniciar Sesion

			.Kostic.big.bold
				=link_to new_user_registration_path,class:"btn btn-danger" do
					Crear Cuenta
			%h1.white-text.Kostic.big.bold
				Ir a Tienda
			.Kostic.big.bold
				=link_to products_path, class:"btn btn-success" do
					Tienda




%header.green.big-padding
	%div.text-center
		.col-md-12.no-padding.inline-block
			%h1.white-text.Kostic.bigger
				%strong 
					Aqui encontraras todo tipo de repuestos para autos

		.col-md-12.inline-block	
			=image_tag "mono.png", width:"620"









