%header.blue.big-padding
	.col-md-10.no-float.center-block
		.col-md-6.no-padding.inline-block
			=image_tag "tiendus.png",width:"100"
			%h1.white-text.ultra-big
				%strong
				Comercial Brenda Cuellar
		.col-md-5.inline-block
			=image_tag "mono.png",width:"200"


%h1 hola mundo

%p
	=link_to "Iniciar sesión", new_user_session_path
%p
	=link_to "Crear cuenta", new_user_registration_path
