%header.blue.big-padding
  .col-md-10.no-float.center-block


%h1 holaaa mundo
%p 
  =link_to "Iniciar sesion" , new_usuario_session_path, method: :get

%p 
  =link_to "Registrarse" , new_usuario_registration_path, method: :get