%header.blue.big-padding
	.col-md-10.no-float.center-block
		.col-md-6.no-padding.inline-block
			=image_tag "tiendus.png",width:"100"
			%h1.white-text.ultra-big.kostic
				%strong
				Comercial Brenda Cuellar
		.col-md-5.inline-block
			=image_tag "mono.png",width:"200"

%header
	%nav.green
		%ul.no-list.no-padding.text-center
			%li.col-md-0.inline-block.tall-padding
				=link_to root_path,class:"right-space white-text" do
					%i.mdi-action-shopping-basket
						Tienda
			%li.col-md-5.inline-block.text-center.tall-padding
				=image_tag "tiendus.png",height:"25px"

%h1 hola mundo

%p
	=link_to "Iniciar sesión", new_user_session_path
%p
	=link_to "Crear cuenta", new_user_registration_path
