ul{
	list-style: none;
	
}
html, body{
	margin: 0px;
	font-family: 'Arima Madurai', cursive;
}

a, a:visited{
	color: inherit;
	text-decoration: none;
}
.no-margin{
	margin: 0px

}
#logo{
	font-size: 1.6em;
}

.be-red{
	background-color: #247998;
}
.white{
	color:#FFE1D9;
}
.large-padding{
	padding: 10px 7px;
}

